extends layout

block content
    div
        if index_id > 0
            - var prev = index_id - 1
            a(href=prev) <
        |
        p(id="cur_id") #{cur_id}
        |
        if index_id < max_index - 1
            - var next = index_id + 1
            a(href=next) >
    br
    div
        form(action="/" +cur_id+"/save" method='get' onclick=)
            input(type="radio" name="tb_filter" value="Active TB" checked=(tb_status==="Active TB" ? "checked" : undefined))
            | Active TB
            input(type="radio" name="tb_filter" value="LTBI" checked=(tb_status==="LTBI" ? "checked" : undefined))
            | LTBI
            input(type="radio" name="tb_filter" value="None" checked=(tb_status==="None" ? "checked" : undefined))
            | None
            input(type="radio" name="tb_filter" value="Wrong Study" checked=(tb_status==="Wrong Study" ? "checked" : undefined))
            | Wrong Study
    br
    br
    h2= "Neighbourhood"
    each element in neighbourhood_data
        each line in element.split(/\\n/)
            = line
            br
        br
    h2= "Charts"
    each element in text_data
        each line in element.split(/\\n/)
                = line
                br
        br