extends layout

block content
    body
        span= "Data file:"
        input(type="text" id="dataFile" class="form-control" placeholder="Data file" style={"border": "0"} value=charts_file)
        button(id="openDataSelector" type="button" class="btn-sm")
            span(class="glyphicon glyphicon-folder-open")
        br
        br
        span= "Map file:"
        input(type="text" id="mapFile" class="form-control" placeholder="Variable Mapping file" style={"border": "0"} value=label_map_file)
        button(id="openMapSelector" type="button" class="btn-sm")
            span(class="glyphicon glyphicon-folder-open")
        br
        br
        span= "Save location:"
        input(type="text" id="saveFolder" class="form-control" placeholder="Save Location" style={"border": "0"} value=save_location)
        button(id="openSaveSelector" type="button" class="btn-sm")
            span(class="glyphicon glyphicon-folder-open")
        br
        br
        button(id="load" type="button" class="btn btn-primary btn-sm" style={"width": "70px"}) #{load_status}
        script(src="/javascripts/renderer.js")
